<aside>
    <div class="card mb-3">
        <div class="card-header">
            Status
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-10">
                    Window loaded
                </div>
                <div class="col-sm-2">
                    <span class="text-success fa fa-smile" ng-show="sidebarCtrl.web3Service.hasLoadEvent"></span>
                    <span class="text-danger fas fa-angry" ng-hide="sidebarCtrl.web3Service.hasLoadEvent"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    Web3 Available
                </div>
                <div class="col-sm-2">
                    <span class="text-success fa fa-smile" ng-show="sidebarCtrl.web3Service.hasWeb3"></span>
                    <span class="text-danger fa fa-angry" ng-hide="sidebarCtrl.web3Service.hasWeb3"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    Metamask available
                </div>
                <div class="col-sm-2">
                    <span class="text-success fa fa-smile" ng-show="sidebarCtrl.web3Service.hasMetamask"></span>
                    <span class="text-danger fa fa-angry" ng-hide="sidebarCtrl.web3Service.hasMetamask"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    Right Network
                </div>
                <div class="col-sm-2">
                    <span class="text-success fa fa-smile" ng-show="sidebarCtrl.web3Service.hasRightNetwork"></span>
                    <span class="text-danger fa fa-angry" ng-hide="sidebarCtrl.web3Service.hasRightNetwork"></span>
                </div>
            </div>
        </div>
    </div>
</aside>