<div class="row mb-3">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-header">
                Welcome to ipfs-pin
            </div>
            <div class="card-body">
                <p>
                    Ipfs-pin.com is a service which will allow you to pin
                    objects on IPFS (Inter-Planetary File system).
                </p>
                <p>
                    By pinning objects using this service, all your IPFS objects
                    will remain available even if you shut down your local server.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <img class="img-thumbnail float-right" src="img/pin.png"/>
    </div>     
</div>
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                How does it work?
            </div>
            <div class="card-body">
                <p>
                    To be added
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                How much does it cost?
            </div>
            <div class="card-body">
                <p>
                    In order to use this service you will have to purchase 
                    "credits".  1 credit will be charged per day per Gigabyte 
                    (aka "Gigabyte Days").
                </p>
            </div>
        </div>
    </div>
</div>